.productCard {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
	background-color: #9b59b6;
	color: white;
	border-radius: 8px;
	padding: 1rem;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
	overflow: hidden;
	height: 100%;
}

.contentWrapper {
	flex: 1 1 auto;
}

.imageWrapper {
	overflow: hidden;
	position: relative;
	padding-bottom: 100%;
	background-color: white;
	border-radius: 10px;
}

.image {
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.details {
	margin-top: 15px;
	h3 {
		margin-bottom: 0.5rem;
	}

	p {
		margin-bottom: 0.5rem;
	}
}
.productName {
	font-size: 18px;
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}
.price {
	font-weight: bold;
	font-size: 20px;
}

.ribbon {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #e74c3c;
	color: white;
	padding: 0.5rem;
	transform: translate(25%, 0) rotate(-45deg);
	overflow: hidden;
	white-space: nowrap;
	width: 50%;

	span {
		display: inline-block;
		transform: translateX(100%) rotate(45deg);
		animation: moveText 7s linear infinite;
		width: auto;
	}
}

.viewButton {
	transition: all 0.3s ease;
	padding: 5px;
	width: 100%;
	text-align: center;
	background-color: white;
	color: #000;
	border-radius: 5px;
	font-size: 18px;

	&:hover {
		background-color: #9b59b6;
		color: white;
	}
}

@keyframes moveText {
	0% {
		transform: translateX(600%); // Початкове положення справа за границею
	}

	100% {
		transform: translateX(-200%); // Кінцеве положення зліва за границею
	}
}
