.productCard {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
	border-radius: 8px;
	border: 2px solid #e0e0e0;
	padding: 15px;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
	overflow: hidden;
	height: 100%;
}

.contentWrapper {
	flex: 1 1 auto;
}

.imageWrapper {
	overflow: hidden;
	position: relative;
	padding-bottom: 100%;
	background-color: white;
	border-radius: 10px;
}

.image {
	transition: all 0.3s ease;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: contain;
	width: 100%;
	height: 100%;
	&:hover {
		transform: scale(1.05);
	}
}

.details {
	margin-top: 15px;
	h3 {
		margin-bottom: 0.5rem;
	}

	p {
		margin-bottom: 0.5rem;
	}
}
.productName {
	font-size: 18px;
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}
.price {
	font-weight: bold;
	font-size: 20px;
}

.viewButton {
	transition: all 0.3s ease;
	padding: 5px;
	width: 100%;
	font-weight: 500;
	text-align: center;
	border: 2px solid #e0e0e0;
	background-color: white;
	color: #000;
	border-radius: 5px;
	font-size: 18px;
	background-color: #e0e0e0;
	&:hover {
		background-color: white;
	}
}
