.productList {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 15px;
}

@media (max-width: 992px) {
	.productList {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 576px) {
	.productList {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
