.header {
	background-color: #6c5ce7;
	color: white;
	font-weight: 700;
	font-size: 20px;
	padding: 1rem;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
